{%extends 'Authority/index.html'%}
{% block title %}
 Authority EditStudent
{% endblock %}
 {% block  pagecontant %}
  <!--************************************
			form part start
		*************************************-->
    {% load static %}
  <link rel="stylesheet" href="{%static 'static_files/css/style.css'%}">

    <div class="right_col" role="main">
        <div class="row">
            <div class ="col-lg-12" style="background:gray;">
                 <div class ="col-lg-6">
                     <div class="add_student">
                        <h2 >Edit Students</h2>
                     </div>
                 </div>
                <div class ="col-lg-6">
                    <div class="add_student_link">
                        <a href="{% url 'athurpage' %}">Home</a> <i class="fas fa-angle-right"></i> <a href="#">Edit Students</a>
                     </div>
                 </div>
            </div>
            <div class="edit_stu_form" >
                <form method="POST" action="" enctype="multipart/form-data">
                    {%csrf_token%}

                        <div class="col-lg-12">
                            <div class="form-group edit_form">
                                <label class="form-label">Student Id</label>
                                <input type="text" name="Student_Id" class="form-control" value={{data.Student_Id}} readonly>
                              </div>
                              <div class="form-group edit_form">
                                  <label class="form-label">Batch No</label>
                                <input type="text"  name="Batch_No" class="form-control" value={{data.Batch_No}}>
                              </div>
                        </div>
                    <div class="col-lg-12">
                            <div class="form-group edit_form">
                                 <label class="form-label">First Name</label>
                                <input type="text" name="First_Name" class="form-control" value={{data.First_Name}} >
                              </div>
                              <div class="form-group edit_form">
                                  <label class="form-label">Last Name</label>
                                <input type="text"  name="Last_Name" class="form-control" value={{data.Last_Name}}>
                              </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group edit_form">
                                <label class="form-label">Email</label>
                                <input type="text" name="Email" class="form-control" value={{data.Email}} >
                              </div>
                              <div class="form-group edit_form">
                                  <label class="form-label">Mobile Number</label>
                                <input type="text"  name="Mobile_Number" class="form-control" value={{data.Mobile_Number}} >
                              </div>
                        </div>
                       <div class="col-lg-12">
                            <div class="form-group edit_form">
                                <label class="form-label">Registration Date</label>
                                <input type="text" name="Registration_Date" class="form-control" value={{data.Registration_Date}} >
                              </div>
                              <div class="form-group edit_form">
                                  <label class="form-label">Blood Group</label>
                                <input type="text"  name="Blood_Group" class="form-control" value={{data.Blood_Group}}  >
                              </div>
                       </div>
                    <div class="col-lg-12">
                            <div class="form-group edit_form1">
                                <label class="form-label">Departments</label>
                                <select class="form-control" name="Departments" value={{data.Departments}} >
                                      <option value="Departments">Departments</option>
                                      <option value="CSE">CSE</option>
                                      <option value="EEE">EEE</option>
                                      <option value="LLB">LLB</option>
                                      <option value="BBA">BBA</option>
                                </select>
                            </div>
                              <div class="form-group edit_form1">
                                  <label class="form-label">Gender</label>
                                  <select class="form-control" name="Gender" value={{data.Gender}} >
                                      <option value="Gender">Gender</option>
                                      <option value="MALE">MALE</option>
                                      <option value="FEMALE">FEMALE</option>
                                  </select>
                              </div>
                    </div>
                    <div class="col-lg-12">
                            <div class="form-group edit_form">
                                <label class="form-label">Parents Name</label>
                                <input type="text" name="Parents_Name" class="form-control" value={{data.Parents_Name}} >
                              </div>
                              <div class="form-group edit_form">
                                  <label class="form-label">Parents Mbl Num</label>
                                <input type="text"  name="Parents_Mbl_Num" class="form-control" value={{data.Parents_Mbl_Num}}  >
                              </div>
                    </div>
                         <div class="col-lg-12">

                            <div class="form-group edit_form">
                                 <label class="form-label">Upload Image</label>
                                <input style="width:135%;" type="file" name="Upload_Image" class="form-control" value={{data.Upload_Image}}>
                              </div>
                              <div class="form-group edit_form">
                                  <label class="form-label">Address</label>
                                <input style="margin-left:-100px; width:360%;"  type="text"  name="Address" class="form-control" value={{data.Address}}>
                              </div>
                  </div>
                      <div class="col-lg-12">
                            <div class="form-group edit_form">
                                <label class="form-label">Trimester</label>
                                <input type="text" name="Trimester" class="form-control" value={{data.Trimester}} >
                    </div>
                    <div class="col-lg-12">
                        <div class="edit_btn">
                           <button type="submit">Update</button>
                        </div>
                        <div class="edit_btn">
                            <button type="reset">Clear</button>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>

{% endblock %}