{%extends 'Home.html'%}
{% block title %}
 Authority ForgotPassword Page
{% endblock %}
{% block contant %}
{% load static %}


<!--************************************
			forgot part start
		*************************************-->
      <section id="slide">
        <div
          class="login_bg2" style="background: url({%static 'static_files/images/slider/img-12.jpg'%})">
          <div class="container">
            <div class="row">
              <div class="home-link text-center">
                <p>
                  <a href="{% url 'index' %}">Home</a><i class="fas fa-angle-right"></i><a href="#">Login</a>
                </p>
              </div>
              <div class="login_info">
                <div class="col-lg-10">
                  <div class="login_txt">
                    <h2>Brain International University</h2>
                    <h4>Forgot Password</h4>
                  </div>
                </div>
                <form>
                  <div class="col-lg-10">
                    <div class="login_email">
                      <input type="email" name="email" placeholder="Enter Email"/>
                    </div>
                  </div>
                  <div class="col-lg-10">
                    <div class="login_pass">
                      <input type="password" name="password" placeholder="New Password"/>
                    </div>
                  </div>
                  <div class="col-lg-10">
                    <div class="login_btn2">
                      <button type="submit" class="">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--************************************
			 forgot part End
		*************************************-->

{% endblock %}